<div class="profile-container">
  <div class="profile-header">
    <div class="warp" aria-labelledby="warp-label">
      <span id="warp-label" class="warp__placeholder">
        Kevin
      </span>

      <span aria-role="presentation">
          <span class="warp__0">
            K
          </span>
          <span class="warp__1">
            e
          </span>
          <span class="warp__2">
            v
          </span>
          <span class="warp__3">
            i
          </span>
          <span class="warp__4">
            n
          </span>
      </span>
    </div>
    <div class="name"><span>S</span>aison</div>
    <div class="title-profile">Développeur Ruby on Rails</div>
    <img src="<%= asset_path('profile-header-bulle.png') %>" alt="profile header bulle" class="profile-header-bulle">
  </div>
  <div class="profile-img">
    <img src="<%= asset_path('background-profile.png') %>" alt="background profile" class="background-profile">
    <img src="<%= asset_path('profile-image-header.png') %>" alt="profile" class="profile-image-header">
    <img src="<%= asset_path('profile-image-bulle.png') %>" alt="profile image bulle" class="profile-image-bulle">
  </div>
  <div class="education"></div>
  <div class="skills"></div>
  <div class="experience"></div>
  <div class="accomplissement"></div>
</div>
