<h1 class="title">Bienvenue, Visiteur</h1>
<div class="stats">
  <div class="stats-left">Ici d'autres stats</div>
  <div class="stats-right">
    <div class="stats-infos1">
      <p class="stats-number">12</p>
      <i class="fa-solid fa-laptop stats-icon"></i>
      <p class="stats-title">Projets</p>
    </div>
    <div class="stats-infos2">
      <p class="stats-number">66</p>
      <i class="fa-brands fa-github stats-icon"></i>
      <p class="stats-title">Pull Requests</p>
    </div>
    <div class="stats-infos3">
      <p class="stats-number">252</p>
      <i class="fa-solid fa-handshake stats-icon"></i>
      <p class="stats-title">Contributions</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="profile">
    <%= image_tag 'profile_photo.jpg', class: "profile-img", alt: 'Profile Image' %>
    <div class="infos">
      <p class="profile-name">Kevin Saison</p>
      <p class="profile-description">Ruby on Rails Développeur</p>
      <a href="#" class="cv_button">CV</a>
    </div>
  </div>
  <div class="test"></div>
  <div class="test2"></div>
  <div class="test3"></div>
  <div class="test4"></div>
  <div class="test5"></div>
  <div class="test6"></div>
  <div class="test7"></div>
</div>
