<h1>Me Contacter</h1>
<p>Veuillez remplir le formulaire ci-dessous si vous souhaitez me joindre</p>

<form>
  <fieldset>
    <legend>Vos Informations</legend>
    <div>
      <label for="name">Nom/Pseudo:</label>
      <input type="text" id="name" name="name">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
    </div>
  </fieldset>
  <fieldset>
    <legend>Votre Message</legend>
    <div>
      <label for="subject">Sujet:</label>
      <input type="text" id="subject" name="subject">
    </div>
    <div>
      <label for="message">Message:</label>
      <textarea id="message" name="message"></textarea>
    </div>
  </fieldset>
  <div>
    <button type="submit">Envoyer</button>
  </div>
</form>
