@import "home";
@import "navbar";
@import "footer";
@import "profile";
@import "article";

body {
  background: white;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  will-change: filter;
  margin: 0;
}

body.color-mode {
  filter: none;
  background: linear-gradient(#C4C3AF, #ffffff) no-repeat;
}
