@import 'typed';

.title {
  font-family: 'Bangers';
  letter-spacing: 2px;
  margin: 0 0 0 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "profile projects projects projects projects stacks"
    "blog blog test4 test4 . ."
    "calendar calendar test6 test6 testimony testimony";
  gap: 10px;
  margin: 10px;
}

.container>* {
  display: grid;
  gap: 10px;
}

.profile {
  grid-area: profile;
  grid-column: 1 / span 2;
  width: calc(100% - 38%);
  height: 254px;
  position: relative;
  clip-path: polygon(0% 0%, 77% 0%, 100% 100%, 0% 100%);
  background: black;
}

.profile::before {
  content: '';
  background: url('profile_photo.png') no-repeat center center;
  background-size: cover;
  height: 250px;
  width: calc(100% - 5px);
  clip-path: polygon(0% 0%, 77% 0%, 100% 100%, 0% 100%);
  position: absolute;
  left: 2px;
  top: 2px;
}

.infos {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  bottom: 0px;
  left: 2px;
  color: #C4C3AF;
  width: 100%;
  backdrop-filter: blur(4px);
  font-family: 'Bangers';
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

p.profile-name {
  margin-left: 5px;
  letter-spacing: 2px;
  grid-column: 1/1;
  font-size: 1rem
}

p.profile-description {
  margin-left: 5px;
  font-size: 1rem;
  letter-spacing: 2px;
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.cv_button {
  background: linear-gradient(to bottom, #c4c3af 5%, #ffffff 100%);
  border-radius: 10px;
  cursor: pointer;
  color: #000000;
  font-family: 'Bangers';
  font-size: 1.5rem;
  text-decoration: none;
  grid-column: 2 / 2;
  padding: 5px;
  padding-right: 8px;
}

.cv_button:hover {
  background: linear-gradient(to bottom, #ffffff 5%, #c4c3af 100%);
  background-color: #ffffff;
}

.projects {
  grid-area: projects;
  background: #000;
  height: 254px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 7% 100%);
  position: relative;
}

.projects::before {
  content: '';
  background: url('sharefriends.png') no-repeat center center;;
  background-size: cover;
  height: 250px;
  width: calc(100% - 4px);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 7% 100%);
  position: absolute;
  left: 2px;
  top: 2px;
}

.infos-projects {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  bottom: 0px;
  color: #C4C3AF;
  width: 100%;
  backdrop-filter: blur(4px);
  font-family: 'Bangers';
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  right: 2px;
}

p.project-name {
  margin-left: 5px;
  letter-spacing: 2px;
  grid-column: 1 / 1;
  font-size: 1rem;
}

.projects_button {
  background: linear-gradient(to bottom, #c4c3af 5%, #ffffff 100%);
  border-radius: 10px;
  cursor: pointer;
  color: #000000;
  font-family: 'Bangers';
  font-size: 1.5rem;
  text-decoration: none;
  grid-column: 2 / 2;
  padding: 5px;
  padding-right: 8px;
}

.projects_button:hover {
  background: linear-gradient(to bottom, #ffffff 5%, #c4c3af 100%);
  background-color: #ffffff;
}

.stacks {
  grid-area: stacks;
  grid-row: 1 / span 2;
  background: #ffffff;
  height: 500px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  justify-items: center;
}

.icon-stacks {
  height: 40px;
  padding: 5px;
}

.blog {
  grid-area: blog;
  grid-column: 1 / span 3;
  width: calc(100% - 15.5%);
  background: #000;
  height: 242px;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
}

.blog::before {
  content: '';
  background: url(/assets/build-api-rails.jpg) no-repeat center center;
  background-size: cover;
  height: 238px;
  width: calc(100% - 4px);
  clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  position: absolute;
  left: 2px;
  top: 2px;
}

.infos-blog {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  bottom: 0px;
  color: #C4C3AF;
  width: 100%;
  backdrop-filter: blur(4px);
  font-family: 'Bangers';
  text-shadow: 1px 1px 2px black;
  left: 2px;
  bottom: 2px;
}

p.blog-name {
  margin-left: 5px;
  letter-spacing: 2px;
  grid-column: 1 / 1;
  font-size: 1rem;
}

.blog_button {
  background: linear-gradient(to bottom, #c4c3af 5%, #ffffff 100%);
  border-radius: 10px;
  cursor: pointer;
  color: #000000;
  font-family: 'Bangers';
  font-size: 1.5rem;
  text-decoration: none;
  grid-column: 2 / 2;
  padding: 5px;
  padding-right: 8px;
}

.blog_button:hover {
  background: linear-gradient(to bottom, #ffffff 5%, #c4c3af 100%);
  background-color: #ffffff;
}

.test4 {
  grid-area: test4;
  grid-column: 3 / span 3;
  width: calc(100% - 13%);
  justify-self: end;
  background: #000;
  height: 242px;
  position: relative;
  clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.test4::before {
  content: '';
  background: #ffffff;
  height: 238px;
  width: calc(100% - 4px);
  clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);
  position: absolute;
  left: 2px;
  top: 2px;
}

iframe {
  width: 100%;
}

.test6 {
  grid-area: test6;
  background: #ffffff;
  height: 238px;
  border: 2px solid black;
}

.testimony {
  grid-area: testimony;
  background: #ffffff;
  height: 238px;
  border: 2px solid black;
}

.sub-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 980px) {
  .sub-header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.input-wrapper {
  font-family: 'Bangers';
  color: #aba98f;
  margin-left: 15px;
  letter-spacing: 1px;
  > input,
  > .placeholder {
    display: block;
    appearance: none;
    width: 100%;
    background-color: transparent;
    border: none;
  }
  > .placeholder {
    pointer-events: none;
    @include typed(
      "Junior today. Architect tomorrow.",
      "For every bug, a blade of code.",
      "Rails isn't just a framework — it's a dojo.",
      "Building SaaS like it's a Shōnen battle.",
      "One pull request closer to mastery.",
      "Code. Test. Refactor. Repeat — my ninja way.",
      "Not just building apps — forging legends.",
      "Ruby is my sword. Rails is my armor.",
      "Turning specs into superpowers.",
      "Deploying dreams. Debugging reality.",
      "From zero to deploy — like a training arc.",
      "Press ⌘+S to save the world.",
      "Every app starts with 'require' and a dream.",
      "I refactor like I’m unlocking a new technique.",
      "Backend alchemist. Frontend tactician.",
      "Rails 7. PostgreSQL. Ultra Instinct mode: ON.",
      "Chasing perfection like a final boss fight.",
      "I write code like it’s a climactic episode.",
      "RSpec: the real final exam arc.",
      1.5,
      (
        caret-width: 2px,
        caret-space: 2px
      )
    );
  }
  > input {
    &:focus,
    &:active {
      + .placeholder {
        display: none;
      }
    }
  }
}

.stats-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Bangers';
}

.stats-number {
  font-size: 3rem;
  margin: 0;
  float: right
}

.stats-icon {
  font-size: 1rem;
  background: #bab8ab;
  padding: 5px;
  border-radius: 10px;
  margin-top: 17px;
}

.stats-title {
  font-size: 1rem;
  margin-top: 10px;
}

.loader{
  height: 45px;
  border-radius: 25px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #999;
  background: #ccc;
  overflow: hidden;
  position: relative;
}

.progress-bar{
  height: inherit;
  width: 28%;
  border-radius: inherit;
  position: relative;
  overflow: hidden;
  background: #aba98f;
}

.percentage{
  position: absolute;
  top: 15px;
  right: 5px;
  font-size: 16px;
}

.objectif{
  font-family: 'Bangers';
  font-size: 1.5rem;
  margin: 5px;
  text-align: center;
}

.learning{
  font-family: 'Bangers';
  font-size: 1.2rem;
}

.calendar {
  grid-area: calendar;
  background: #ffffff;
  height: 229px;
  border: 2px solid black;
  overflow: auto;
  padding: 5px;
  grid-template-columns: 1fr 1fr;
  font-family: 'Bangers';
  letter-spacing: 1px;
}

.date {
  font-family: 'Bangers';
  font-size: 50px;
  display: grid;
  margin: 0;
}

.day {
  color: #C4C3AF;
  font-weight: 600;
  font-size: 100px;
  grid-column-start: 1;
}

.quest-title {
  text-align: center;
  font-size: 30px;
  color: #C4C3AF;
}

.quest-description {
  grid-column: span 2;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.quote {
  margin: 10px;
  overflow: auto;
}

.user-icon {
  width: 70px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 5px;
  float: left;
}

.testimonial {
  background-color: #aba98f;
  margin-left: 90px;
  border-radius: 12px;
  padding: 5px 5px 5px 10px;
  font-style: italic;
}
