.title {
  font-family: 'Bangers';
  letter-spacing: 2px;
  margin-left: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "profile test test test test test2"
    "test3 test3 test4 test4 . ."
    "test5 test5 test6 test6 test7 test7";
  gap: 10px;
}

.container>* {
  display: grid;
  gap: 10px;
}

.profile {
  grid-area: profile;
  grid-column: 1 / span 2;
  width: calc(100% - 38%);
  height: 254px;
  position: relative;
  clip-path: polygon(0% 0%, 77% 0%, 100% 100%, 0% 100%);
  background: black;
}

.profile-img {
  width: 100%;
  max-height: 100%;
  filter: grayscale(100%);
  clip-path: polygon(0% 0%, 77% 0%, 100% 100%, 0% 100%);
  top: 2px;
  left: 2px;
  position: absolute;
  object-fit: cover;
}

.infos {
  position: absolute;
  bottom: 0px;
  left: 2px;
  color: #C4C3AF;
  width: 92%;
  backdrop-filter: blur(4px);
  font-family: 'Bangers';
}

p.profile-name {
  margin-left: 5px;
  letter-spacing: 2px;
}

p.profile-description {
  margin-left: 5px;
  font-size: 12px;
  letter-spacing: 1px;
}

.cv_button {
  background: linear-gradient(to bottom, #c4c3af 5%, #ffffff 100%);
  background-color: #c4c3af;
  border-radius: 40px;
  cursor: pointer;
  color: #000000;
  font-family: 'Bangers';
  font-size: 20px;
  padding: 10px 10px;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.cv_button:hover {
  background: linear-gradient(to bottom, #ffffff 5%, #c4c3af 100%);
  background-color: #ffffff;
}

.test {
  grid-area: test;
  background: #000;
  height: 254px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 7% 100%);
  position: relative;
}

.test::before {
  content: '';
  background: #877e7e;
  height: 250px;
  width: calc(100% - 4px);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 7% 100%);
  position: absolute;
  left: 2px;
  top: 2px;
}

.test2 {
  grid-area: test2;
  grid-row: 1 / span 2;
  background: #9f9696;
  height: 500px;
  border: 2px solid black;
}

.test3 {
  grid-area: test3;
  grid-column: 1 / span 3;
  width: calc(100% - 15.5%);
  background: #000;
  height: 242px;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
}

.test3::before {
  content: '';
  background: #877e7e;
  height: 238px;
  width: calc(100% - 4px);
  clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  position: absolute;
  left: 2px;
  top: 2px;
}

.test4 {
  grid-area: test4;
  grid-column: 3 / span 3;
  width: calc(100% - 13%);
  justify-self: end;
  background: #000;
  height: 242px;
  position: relative;
  clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.test4::before {
  content: '';
  background: #877e7e;
  height: 238px;
  width: calc(100% - 4px);
  clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);
  position: absolute;
  left: 2px;
  top: 2px;
}

.test5 {
  grid-area: test5;
  background: #b29191;
  height: 238px;
  border: 2px solid black;
}

.test6 {
  grid-area: test6;
  background: #b59d9d;
  height: 238px;
  border: 2px solid black;
}

.test7 {
  grid-area: test7;
  background: #b49d9d;
  height: 238px;
  border: 2px solid black;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 10px;
  margin: 5px;
}

@media screen and (max-width: 980px) {
  .stats {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.stats-left {
  font-family: 'Bangers';
}

.stats-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Bangers';
}

.stats-infos1, .stats-infos2, .stats-infos3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stats-number {
  font-size: 2rem;
  margin: 0;
}

.stats-icon {
  font-size: 1rem;
  background: #bab8ab;
  padding: 5px;
  border-radius: 5px;
}

.stats-title {
  font-size: 1rem;
  margin-top: 5px;
}

.loader{
  height: 45px;
  border-radius: 25px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #999;
  background: #ccc;
  overflow: hidden;
  position: relative;
}

.progress-bar{
  height: inherit;
  width: 28%;
  border-radius: inherit;
  position: relative;
  overflow: hidden;
  background: #aba98f;
}

.percentage{
  position: absolute;
  top: 15px;
  right: 5px;
  font-size: 16px;
}

.objectif{
  font-family: 'Bangers';
  font-size: 1.5rem;
  margin: 5px;
}

.learning{
  font-family: 'Bangers';
  font-size: 1.2rem;
}
